.formContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formInfo{
    margin-top: 0.6rem;
    display: flex;
    flex-direction: column;
    width: 32rem;
    height: 38rem;
    border: 2px solid white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    padding: 0 1rem;
    background-image: url('./form_image.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position:top;
  
}

.formInfo h2{
    text-align: center;
    margin: 1rem 0 0.5rem 0 ;
}

.formInfo label{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.formInfo input{
    height: 1.5rem;
    width: 25rem;
    border-radius: 1px;
    border: 1px solid #D9D9D9;
}

.formErrorMessage{
    color: red;
    font-size: 13px;
    font-weight: bold;
}

.activitySelectGroup{
    height: 2rem;
    width: 25.5rem;
    border-radius: 1px;
    border: 1px solid #D9D9D9;
}

.selectedGroup{
    display: flex;
    flex-wrap: wrap;
}

.selectedSeason{
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    width: 6rem;
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    margin: 2px

}

.selectedCountry{
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    display: flex;
    margin: 2px 2px 10px 2px;
    width: fit-content;
}

.selectedCountry label{
    padding: 0 0.5rem;
}

.deleteSelected{
    border:none;
    width: 1.7rem;
    background-color: #d8fff6fd;
    font-weight: bold;
}

.deleteSelected:hover{
    border:none;
    width: 1.7rem;
    background-color: #EDD62D;
    font-weight: bold;
}

.submitButton{
    width: 10rem;
    height: 2.5rem;
    background-color: #204939;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.submitButton:hover{
    background-color: #EDD62D;
    border: 1px solid #EDD62D;
    color: #204939;
}