body{
    margin: 0;
    font-family: "Avenir Next",Helvetica,Arial,sans-serif;
}

.landingContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    background-image: url('../../../landing_image.png');
    background-color: #d8fff6fd;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:0%;
  }

  .landingInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 17rem;
  }

.landingInfo p{
    color: black;
    font-size: 7rem;
    font-weight: bolder;
    letter-spacing: -7px;
    margin: 0;
}
.landingInfo h2{
    color: black;
    margin: 0 0 35px 0;
}

.landingInfo button{
    width: 10rem;
    height: 3rem;
    background-color: #EDD62D;
    color: black;
    border: 1px solid white;
    border-radius: 4px;
}

.landingInfo button:hover{
    background-color: #E69413;
    border: 1px solid white;
    color: white;
}