.filtersContainer{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 1rem 0;
}

.filtersContainer select {
    margin: 0 2rem;
    width: 15rem;
    height: 30px;
}

.cardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.pageNavigatorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageNavigatorContainer p{
    margin: 1rem 2rem;
}